* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 700px;
  margin: auto;
  /* margin-right: auto; */
  background: rgb(255, 254, 254);
  position: relative;
  margin-top: 20px;
  /* margin: 40px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

h3 {
  color: #54afe4;
}

.name {
  font-size: 22px;
  text-transform: uppercase;
}

a {
  color: white;
}

.profile img {
  max-width: 95%;
  height: auto;
  margin: auto;
  border-radius: 50%;
}

.left {
  background: rgb(10, 10, 164);
  padding: 20px;
  width: 250px;
  height: 970px;
  color: white;
}

.right {
  background: rgb(230, 235, 236);
  /* padding: 40px; */
  width: 400px;
  height: 970px;
  padding: 10px 20px;
}

.intro {
  margin-bottom: 10px;
}

.course,
.year {
  text-align: left;
}

.institution,
.result {
  text-align: right;
}

.edu {
  margin-bottom: 10px;
}

.career {
  margin-bottom: 10px;
}

.projects li {
  list-style: none;
}

.projects {
  margin-bottom: 10px;
}

.comp {
  margin-bottom: 10px;
}

.details {
  margin-bottom: 10px;
}
