* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background: rgb(255, 254, 254);
  /* margin-top: 20px; */
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 5px;
}

h3 {
  background-color: #dcf0fc;
  color: #000;
  padding: 7px 7px;
}

p {
  font-size: 14px;
  padding: 10px 20px;
  /* width: 100%; */
}

.profile img {
  max-width: 95%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
}

.profession {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.icon {
  stroke: #ffffff;
  width: 18px;
  height: 18px;
}

.icons-list li {
  list-style: none;
  margin-left: 0;
}

.social_info {
  font-size: 14px;
}

a {
  color: white;
}

.left {
  background: #2a78ab;
  padding: 20px;
  width: 300px;
  /* height: 1350px; */
  color: white;
}

.right {
  background: rgb(255, 255, 255);
  width: 400px;
  /* height: 1350px; */
  padding: 10px 20px;
}

.intro {
  margin-bottom: 10px;
}

.profession {
  text-transform: uppercase;
}

.links {
  margin-bottom: 40px;
}

/* .icon {
  display: flex;
  align-items: center;
} */

/* .icons-list {
  display: flex;
  align-items: center;
} */

.relevant-skills {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.intro-icon {
  stroke: #2a78ab;
  width: 32px;
  height: 32px;
}

.edu-icon {
  stroke: #2a78ab;
  width: 32px;
  height: 32px;
}

.edu_info {
  font-size: 14px;
  padding: 10px 20px;
}

.course,
.year {
  text-align: left;
}

.institution,
.result {
  text-align: right;
}

.edu {
  margin-bottom: 10px;
}

.career-icon {
  stroke: #2a78ab;
  width: 32px;
  height: 32px;
}
.career {
  margin-bottom: 10px;
}

.project-icon {
  stroke: #2a78ab;
  width: 32px;
  height: 32px;
}

.projects li {
  list-style: none;
}

.projects {
  margin-bottom: 10px;
}

.comp-icon {
  stroke: #2a78ab;
  width: 32px;
  height: 32px;
}

.comp {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.details-icon {
  stroke: #2a78ab;
  width: 32px;
  height: 32px;
}

.details {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.dec-icon {
  stroke: #2a78ab;
  width: 32px;
  height: 32px;
}

li {
  margin-left: 30px;
}

/* ************************************************** */
/* Responsive */
/* ************************************************** */

@media (max-width: 600px) {
  p {
    font-size: 12px;
  }

  h3 {
    font-size: 18px;
  }

  .edu_info {
    font-size: 12px;
  }

  .comp {
    font-size: 12px;
  }

  .details {
    font-size: 12px;
  }

  .name {
    font-size: 20px;
    font-weight: 600;
  }

  .profession {
    font-size: 16px;
    font-weight: 400;
  }

  .icon {
    stroke: #ffffff;
    width: 16px;
    height: 16px;
  }

  .social_info {
    font-size: 10px;
  }

  .relevant-skills {
    font-size: 14px;
  }

  .rel-skills li {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 10px;
  }

  h3 {
    font-size: 16px;
  }

  .edu_info {
    font-size: 10px;
  }

  .comp {
    font-size: 10px;
  }

  .details {
    font-size: 10px;
  }

  .name {
    font-size: 15px;
    font-weight: 600;
  }

  .profession {
    font-size: 14px;
    font-weight: 400;
  }

  .icon {
    stroke: #ffffff;
    width: 13px;
    height: 13px;
  }

  .social_info {
    font-size: 9px;
  }

  .relevant-skills {
    font-size: 11px;
  }

  .rel-skills li {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .container {
    margin: 10px;
    background: rgb(255, 254, 254);
    /* margin-top: 20px; */
    display: block;
  }

  .left {
    width: 100%;
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 18px;
  }

  .edu_info {
    font-size: 14px;
  }

  .comp {
    font-size: 14px;
  }

  .details {
    font-size: 14px;
  }

  .name {
    font-size: 24px;
    font-weight: 700;
    /* display: flex;
    justify-content: center; */
    /* margin-left: 20px; */
  }

  .profession {
    font-size: 18px;
    font-weight: 500;
    /* display: flex;
    justify-content: center; */
    /* margin-left: 20px; */
  }

  .icon {
    stroke: #ffffff;
    width: 18px;
    height: 18px;
  }

  .social_info {
    font-size: 14px;
  }

  .relevant-skills {
    font-size: 16px;
  }

  .rel-skills li {
    font-size: 14px;
  }
}
